[class].#{$utilitiesClassNamePrefix} {
  &__align-children {
    &--center {
      display: flex;
      align-items: center;
    }
    &--top {
      display: flex;
      align-items: flex-start;
    }
    &--bottom {
      display: flex;
      align-items: flex-end;
    }
    &--stretch {
      display: flex;
    }
  }
}