//ALL SPECIFIC COMPONENTS
.s1-loc-comp__step-button {
  width: 48px;
  height: 48px;
  &::after {
    border-width: 2px !important;
  }
}

.s1-loc-comp__services-dialog {
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  max-height: 100%;
  transform: none;
  border-radius: 0;
  overflow: visible;
}

.s1-loc-comp__services-summary {
  position: absolute;
  left: 0;
  top: 76px;
  transform: translateX(-50%);
  width: 288px;
}