//ALL SPECIFIC COMPONENTS
.s1-loc-comp__step-button {
  width: 48px;
  height: 48px;
  &::after {
    border-width: 2px !important;
  }
}

.s1-loc-comp__services-dialog {
  width: 80%;
  height: 80%;
  overflow: visible;
}

.s1-loc-comp__services-summary {
  position: absolute;
  left: 0;
  top: 76px;
  transform: translateX(-50%);
  width: 288px;
}

.s1-loc-comp__avtive-border-right {
  background-color: #efefef;
  border-right: 2px solid;
}
