.s1-prop__auto-gen {
  position: fixed;
  bottom: 16px;
  left: 16px;
  width: 50px;
  z-index: 6;
  transform-origin: 0 0;
  opacity: 0;
  transition: transform 200ms ease-in-out 0s;
  &:hover {
    transform: scale(1);
    opacity: 1;
  }
}
