//SLIDE ITEM TO HOMOGENEOUS LIST
.s1-loc__slide {
  transition: none;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    height: calc(100% - 4px);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 1px 0;
  }
}

.slide-up {
  transform: translateY(-100%);
  transition: transform 300ms cubic-bezier(0.3, 0, 0, 1);
}

.slide-down {
  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.3, 0, 0, 1);
}

//MD FIELD TO MAKE EASY ALIGN FIELDS USING YOUR OWN MARGINS
.s1-loc__md-field-wrapper {
  padding: 1px 0;
}

//LOADING
.s1-loc__loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(0);
  opacity: 0;
  transition: opacity 200ms ease-in-out 0s, transform 0s linear 200ms;
  &.active {
    transition: opacity 200ms ease-in-out 100ms, transform 0s linear 0s;
    opacity: 1;
    transform: scale(1);
  }
}

//COLLAPSE MAX-WIDTH BASED
.s1-loc__collapse-wrapper {
  & {
    will-change: max-height;
    overflow: hidden;
    transition-property: max-height;
    transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  }
  &:not(.active) {
    max-height: 0 !important;
  }
}

.s1-loc__collapse-icon {
  &.active {
    transform: rotate(180deg);
  }
}

//INVISIBLE
.s1-loc__invisible-force {
  opacity: 0 !important;
  transform: scale(0) !important;
}

.s1-loc__text-color--success {
  color: #66bb6a;
}
