[class].s1-upload {
  position: relative;
  button {
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    border-radius: 0 0 2px 2px;
  }
  
  &:hover button {
    opacity: 1;
  }
}